<div id="settings" class="about">
  <div class="modal-header">
    <div class="close glyphicon glyphicon-remove" ng-click="settings.close()"></div>
    <h2 class="modal-title"><span uib-tooltip="Буп!" tooltip-placement="right">О Overwatch Item Tracker</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
      <p>Overwatch Item Tracker — это веб-сайт, позволяющий отслеживать новые добавленные предметы в Overwatch для каждого внутриигрового события. It allows you to mark items as selected so you know what you have collected and what you still need to collect, it also shows previews of all the new items apart from voice lines.</p>
	</div>
	<div class="setting">
	  <h3>Разработчики</h3>
      <li>Дизайн и первоначальный концепт — Lalato &amp; Izzepizze на <a href="https://www.reddit.com/r/Overwatch/comments/59bo66">Reddit</a></li>
	  <li>Разработчик — Js41637</li>
	  <li>Перевод на русский язык — DFPX</li>
    </div>
    <div class="setting">
      <h3>Благодарность</h3>
      <ul>
        <li><a target="_blank" href="https://github.com/DirtDiglett">DirtDiglett</a></li>
        <li><a target="_blank" href="https://angularjs.org/">AngularJS</a></li>
        <li><a target="_blank" href="https://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li>
        <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a target="_blank" href="https://playoverwatch.com/">Overwatch</a></li>
        <li><a target="_blank" href="https://github.com/">Github</a></li>
        <li><a target="_blank" href="https://reddit.com/r/overwatch/">/r/overwatch</a></li>
        <li><a target="_blank" href="https://overwatch.wikia.com/wiki/Overwatch_Wiki">Overwatch Wikia</a></li>
        <li><a target="_blank" href="https://overwatch.gamepedia.com/Overwatch_Wiki">Overwatch Gamepedia</a></li>
        <li><a target="_blank" href="https://owdev.wiki">Overtool</a></li>
      </ul>
    </div>
    <div class="setting">
      <h3>Contributing</h3>
      <p>Want to contribute to Overwatch Item Tracker and help make Overwatch tracking снова великим? Check us out on Github at: <br /><a target="_blank" href="https://github.com/Js41637/Overwatch-Item-Tracker">https://github.com/Js41637/Overwatch-Item-Tracker</a></p>
    </div>
  </div>
  <div class="copyright">
    Данный сайт не аффилирован с Blizzard Entertainment. <br />
    Все товарные знаки являются собственностью соответствующих владельцев.  <br />
    © Blizzard Entertainment, 2017 г. Все права защищены.
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Закрыть</button>
  </div>
</div>
