<div id="settings">
  <div class="modal-header">
    <div class="close glyphicon glyphicon-remove" ng-click="settings.close()"></div>
    <h2 class="modal-title">Настройки</h2>
  </div>
  <div class="modal-body" id="modal-body">
    <uib-tabset justified="true">
      <uib-tab index="0" heading="Главные Настройки">
        <!--<div class="setting">
          <h3>Частицы</h3>
          <p>Выключить или включить частицы (эффект падающего снега) на странице</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('particles')">{{::settings.particles ? 'Disable' : 'Enable'}}</div>
        </div>-->
        <div class="setting">
          <h3>Выбрать все предметы</h3>
          <p>Отмечает абсолютно все предметы для каждого эвента как полученные</p>
          <div class="btn btn-primary" ng-click="settings.selectAll()">Выбрать всё!</div>
        </div>
        <div class="setting">
          <h3>Count Icons as part of total</h3>
          <p>Toggles icons being counted towards the total items for a hero (как это сделано в игре)</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('countIcons', true)">{{settings.countIcons ? "Don't count icons" : 'Count icons'}}</div>
        </div>
        <div class="setting">
          <h3>Показывать превью</h3>
          <p>Отключить или включить отображение превью предметов (граффити, эмоции и т.д.)</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('showPreviews', true)">{{settings.showPreviews ? 'Disable' : 'Enable'}}</div>
        </div>
        <div class="setting">
          <h3>HD Ролики</h3>
          <p>Отключить или включить показ HD роликов Лучших Моментов и Эмоций</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('hdVideos')">{{settings.hdVideos ? 'Disable' : 'Enable'}}</div>
        </div>
        <div class="setting">
          <h3>Громкость Аудио</h3>
          <p>Set the volume at which будут воспроизводиться видео и аудио (по умолчанию – 50%)</p>
          <div class="range-input">
            <input type="range" min="0.0" max="1.0" step="0.1" ng-change="settings.setVolume()" ng-model="settings.audioVolume" value="{{settings.audioVolume}}" />
            <span>{{settings.audioVolume * 100}}%</span>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Импорт / Экспорт / Бэкапы">
        <div class="setting">
          <h3>Google Drive <small ng-show="settings.googleSignedIn">Вы вошли как {{settings.googleUser.getName() || 'NO_NAME'}} ({{settings.googleUser.getEmail() || 'NO_EMAIL'}})</small></h3>
          <p><strong>Экспериментальная функция:</strong> Активировать хранение копии данных приложения на Google Диске</p>
          <div class="buttons" >
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.googleSignOut()">Выйти из аккаунта</div>
            <div class="btn btn-primary" ng-hide="settings.googleSignedIn" ng-click="settings.googleLogin()">Авторизоваться</div>
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.uploadToDrive()">Загрузить на Диск</div>
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.downloadFromDrive()">Скачать с Диска</div>
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.toggleSync()">{{settings.syncDisabled ? 'Enable Sync' : 'Disable Sync'}}</div>
          </div>
          <div class="alert alert-info" ng-show="settings.willEnableSync">Примечание: Before sync is enabled you need to choose to either download from Google Drive or upload your current data to Google Drive. This is so sync doesn't accidently overwrite your data.</div>
          <div class="alert alert-{{settings.googleMessage[0]}}" ng-if="settings.googleMessage">{{settings.googleMessage[1]}}</div>

          <small>Enabling Google Drive Sync will make it so your data is automatically updated on Google Drive occasionally while you are on the site. NOTE: Sync is experimental and I am sorry if something goes terribly wrong. Remember to always keep a backup if you value your data!</small>
        </div>
        <div class="setting">
          <h3>Импорт / Экспорт данных</h3>
          <p>Copy and paste this string into your other browser or store it in a file for backup. You can also input your export and import it with the overwrite button.</p>
          <div ng-hide="settings.importErrors == null || settings.importErrors == false" class="alert alert-danger">
            <strong>Ошибка:</strong>
            <pre>{{settings.importErrors}}</pre>
          </div>
          <div ng-show="settings.importErrors == false" class="alert alert-success">
            <strong>Успешно завершено:</strong>
            <pre>Похоже, всё в порядке!</pre>
          </div>
          <textarea type="text" class="form-control" ng-model="settings.data" rows="10"></textarea>
          <div class="btn btn-primary" ng-click="settings.downloadJSON()">Скачать JSON</div>
          <div class="btn btn-primary" ng-click="settings.importData(settings.data, true)">Проверить валидность</div>
          <div class="btn btn-danger" ng-click="settings.importData(settings.data)">Перезаписать данные!</div>
        </div>
        <div class="setting">
          <h3>Сброс сохранённых данных</h3>
          <p><strong>Осторожно!</strong> Эта функция сотрёт все ваши отметки!</p>
          <div class="btn btn-danger" ng-click="settings.resetData()">Очистить данные</div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <div class="btn btn-primary" ng-click="settings.close()">Закрыть</div>
  </div>
</div>
