<div id="settings" class="themes">
  <div class="modal-header">
    <div class="close glyphicon glyphicon-remove" ng-click="settings.close()"></div>
    <h2 class="modal-title"><span uib-tooltip="Boop" tooltip-placement="right">Темы</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
      <h3>Стандартная <span class="selected" ng-show="settings.currentTheme == 'standard'">Выбрана</span></h3>
      <p>Обычная тема, с которой и был сделан этот сайт</p>
      <div class="img" style="background-image: url('./css/sample.jpg')" ng-click="settings.selectTheme('standard')"></div>
      <div class="madeBy">Автор – <a target="_blank" href="https://github.com/Js41637">Js41637</a>, первоначальный дизайн – Lalato &amp; Izzepizze</div>
    </div>
    <div class="setting">
      <h3>Event Styled Layouts &amp; Heroic-themed<span class="selected"  ng-show="settings.currentTheme == 'dirtdiglett'">Выбрана</span></h3>
      <p>Changes the visual design of the layouts to represent the current event, and the hero pages to use more heroic hero imagery</p>
      <div class="img" style="background-image: url('./css/themes/dirtdiglett/sample.jpg')" ng-click="settings.selectTheme('dirtdiglett')"></div>
      <div class="madeBy">Автор – <a target="_blank" href="https://github.com/DirtDiglett">DirtDiglett</a></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Закрыть</button>
  </div>
</div>
