<div id="sub-header">
  <div id="cost-remaining" uib-tooltip-template="'costRemaining.html'" tooltip-placement="left">
    <img src="./resources/icons/currency.svg" /> <span count-to="{{cost.remaining}}" count-from="{{cost.prev}}"></span>
  </div>
  <script type="text/ng-template" id="costRemaining.html">
      <span>Для покупки оставшихся <br/>предметов вам понадобится <br/> {{cost.total | number }} кредитов.<br/><br/>В {{cost.selected | number}} кредитов оцениваются<br/>уже полученные предметы.</span>
    </script>
</div>
